@media (max-width: 1200px) {
    .process {
    margin: 140px 25px;
}
    .process__block {
        width: 1150px;
}
}
@media (max-width: 992px){
        .process {
        
        margin-left: 50px;
        margin-right: 50px;
    }
           .process__block {
        width: 900px;
}
}


@media (max-width: 768px) {
        .process__block {
        width: 690px;
    }
    .process__name {
    font-size: 22px;
}
.process__number {
    font-size: 46px;
}
.process__title{
    font-size: 36px;
 
}
}
@media (max-width: 600px) {
        .process {
        
        margin: 60px 30px 60px 30px;
    }

    .process__block {
        width: 519px;
        border-radius: 71px;
    }
        .process__title {
            font-size: 40px;
        }

       .process__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", Arial, Helvetica, sans-serif;
    gap: 40px;
    margin-bottom: 80px;
    flex-direction: column;
}
.process__desc {
        font-size: 23px;
}
}

@media (max-width: 560px) {
      .process__block {
        width: 500px;
        border-radius: 76px;
    }
    
    .process__title {

        font-size: 43px;
        width: 270px;
        height: 98px;
    }
}



@media (max-width: 440px) {
        .process__block {
        width: 392px;
        border-radius: 91px;
        height: 105px;
    }
            .process__number {
    font-size: 27px;
    }
        .process__name {
        font-size: 20px;
    }
}
@media (max-width: 390px) {
    .process__block {
        padding: 21px 20px;
    }
        .process__name

 {
        font-size: 18px;
        padding-right: 150px;
    }
        .process__block {
        width: 345px;
        border-radius: 91px;
        height: 105px;
    }
    .process__box {
        margin-right: -27px;
    }
}

