@import url("./font.css");
@import url("./resset.css");
@import url("./global.css");

.team {
  font-family: var(--font-family);
}

.team__text {
  display: flex;
  align-items: center;

  gap: 40px;
  margin: 80px 0;
}

.team__title {
  border-radius: 7px;
  padding: 0px 7px;

  background: var(--green);

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: var(--black);
}

.team__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.team__card {
  position: relative;

  border: 1px solid var(--dark);
  border-radius: 45px;
  padding: 40px 35px;

  box-shadow: 0 5px 0 0 var(--dark);
}

.team__card-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--black);
}

.team__card-desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
}

.team__card-top {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  padding-bottom: 28px;
  border-bottom: 1px solid var(--black);
}

.team__card-bottom {
  padding-top: 28px;
}

.team__icon {
  position: absolute;
  top: 40px;
  right: 50px;
}
.team__wrapper {
  padding-top: 40px;

  display: flex;
  justify-content: flex-end;
}
.team__button {
  color: #fff;
  padding: 20px 70px;
  background: var(--dark);
  transition-duration: 0.3s;
}

.team__button:hover {
  background-color: var(--green);
}
