@import url("./font.css");
@import url("./resset.css");
@import url("./global.css");

.testimonials {
  margin-top: 100px;
}

.testimonials__text {
  display: flex;
  justify-content: flex-start;
  gap: 40px;

  margin-bottom: 80px;
}
.testimonials__title {
  border-radius: 7px;
  padding: 0px 7px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  color: var(--black);
  background-color: var(--green);
}

.testimonials__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: var(--black);
  max-width: 470px;
}

.testimonials__slider {
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 120px;

  padding: 90px 0 70px 0;

  margin: 0 auto;

  background-color: var(--black);
}

.testimonials__card {
  position: relative;

  width: fit-content;
  padding: 50px;
  border: 1px solid var(--green);
  border-radius: 50px;
  margin-bottom: 50px;
}

.testimonials__card::after {
  content: "";
  border: 0.1px solid var(--green);
  transform: rotate(45deg);
  position: absolute;
  bottom: -16px;
  width: 40px;
}

.testimonials__card::before {
  content: "";
  border: 0.01px solid var(--green);
  transform: rotate(-45deg);
  position: absolute;
  left: 78px;
  bottom: -16px;
  width: 40px;
}
.cover {
  width: 56px;
  height: 3px;
  border-radius: 50px;
  background-color: var(--black);
  /* background-color: #fff; */
  position: absolute;
  bottom: -2px;
  left: 56px;
}

.testimonials__cardtext {
  max-width: 500px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  color: #fff;
}

.testimonials__comments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;

  padding-left: 80px;
  margin-top: 20px;
}

.testimonials__author {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  color: var(--green);
}

.testimonials__post {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.testimonials__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  flex: 1;
  /* background-color: #fff; */
}

.testimonials__button img {
  background-color: white;
  width: 50px;
}

.testimonials__center {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 150px;
}

.testimonials__navigation {
  width: 20px;
  height: 20px;
  background-color: #fff;

  clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 50% 90%, 100% 100%, 90% 50%, 100% 0%, 50% 10%);
}

.wrapper {
  scroll-snap-align: center;
  justify-content: center;
  width: 60%;
  flex: 0 0 auto;
}

.testimonials__cards {
  overflow: hidden;
  overflow-x: auto;
  scrollbar-width: none;
  display: flex;
}

.testimonials__navigation.active {
  background-color: var(--green); /* Highlight active dot */
}
